.promo-image-box1{
    min-width: 236px;
    height: 304px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),url(../images/tour-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;

    margin-bottom: 20px;
    h1{
        font-size: 40px;
    }

    h2{
        font-size: 22px;
    }

    .tour-text{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .tour-button{
        height: 40px;
        width: 133px;
        background-color: #79ADDC;

        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;

        border-radius: 40px;
        cursor: pointer;
        
    }   


}

.promo-image-box2 {
    min-width: 236px;
    height: 304px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),url(../images/tour-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;

    margin-bottom: 20px;

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 22px;
    }

    .tour-text {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .tour-button {
        height: 40px;
        width: 133px;
        background-color: #79ADDC;

        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;

        border-radius: 40px;
        cursor: pointer;

    }
}

.promo-image-box3 {
    min-width: 236px;
    height: 304px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),url(../images/tour-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;

    margin-bottom: 20px;
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 22px;
    }

    .tour-text {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .tour-button {
        height: 40px;
        width: 133px;
        background-color: #79ADDC;

        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;

        border-radius: 40px;
        cursor: pointer;

    }
}