footer{
    height: $nav-height;
    width: 100%;
    background-color: #79ADDC;

    .footer-content-area{
        width: $content-width;
        height: 100%;
        margin: 0 auto;
        // background-color: #79ADDC;

        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        

        .logo {
            height: 40px;
            width: 92px;
            background-image: url(../images/logo-white.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
        }

        .socials{
            display: flex;
            align-items: center;
            justify-content: space-between;
            

            .facebook{
                margin: 22px;
                height: 22px;
                width: 22px;
                background-image: url(../images/facebook.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
        }

            .insta{
                margin: 22px;
                height: 22px;
                width: 22px;
                background-image: url(../images/instagram.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .twitter{
                margin: 22px;
                height: 22px;
                width: 22px;
                background-image: url(../images/twitter.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    
}

@media screen and (max-width:980px) {
    .footer-content-area {
        max-width: 100%;
    }
}

@media screen and (max-width:730px) {
    .footer-content-area {
        flex-wrap: wrap;
        padding: 10px;
    }

    .socials{
        max-width: 40px;
    }

        .facebook {
            margin: 0;
        }

        .insta {
            margin: 0;
        }

        .twitter {
            margin: 0;
        }
}
    